*{
    margin: 0;
    padding: 0;

}
nav.navbar
{
    display: flex;
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    z-index: 1;
}
a.margin
{
 margin-top: 15px;
}
.coluna-dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 65px;

}
.div_grafico_1
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: -1;
}
.coluna-dash-inf{
    display: flex;
    height: 30px;
    margin-bottom: 20px;
}
.coluna-dash-inf
{
 width: 500px;
}
.div_grafico_um

.sidebar-sticky
{
    display: none;
}