.barra
{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}
 
.barra2
{
    display: flex;
    background-color: var(--main-color);
    width: 90%;
    justify-content: center;
    align-content: center;
    margin-left: 90px
}

.bot{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.principal
{
    display: flex;

}
.imagem_dash
{
    display: flex;
    flex-direction: column;
    margin-top: 97px;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.text_web
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.img_dash
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.next_1
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.icon-user
{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.criatividade
{
    border-radius: 20px;
}
.web
{
    width: 500px;
}
.centralizar
{
    padding-top: 60px;
}
.cartao-1
{
    padding-bottom: 25px;
    background-color: #daffda;
    
}
.cor-3
{

}
.card-body
{
    background-color: #ffefc4;
    
}
.card1
{
    background-color: #daffda;
    padding-bottom: 18px
}
.card2
{
    background-color: #fcd1d1;
}
.lista
{
    padding-bottom: 28px
}
.back
{
    position: absolute;
    display: flex;
    width: 200px;
    height: 100px;
    margin-left: 20vw;
    height: 640px;
    width: 1500px;
    background-color: #191970;
    border-style: solid;
    border-radius: 100px;
    border-color: #191970;
}
.big
{
    margin-bottom: 30px;
}